<div class="sidebar">
	<div id="logo">NewsRank</div>
  <div class="menu-wrap">
    <div class="search">Search</div>
    <div class="sidebar-header">MENU</div>
    <div class="menu-item active">
      <div class="menu-icon"><i class="fa fa-camera"></i></div>
      <div class="menu-text"><a href = "javascript:void(0)" onclick = "document.getElementById('my-feeds').style.display='block';document.getElementById('fade').style.display='block'">Manage Feeds</a></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon"><i class="fa fa-camera"></i></div>
      <div class="menu-text">Menu Item 2</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon"><i class="fa fa-camera"></i></div>
      <div class="menu-text">Menu Item 3</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon"><i class="fa fa-camera"></i></div>
      <div class="menu-text">Menu Item 4</div>
    </div>
  </div>
  <div id="category">
    <div class="sidebar-header">CATEGORIES</div>
    <div class="item technology">Technology</div>
    <div class="item business">Business</div>
    <div class="item design">Design</div>
    <div class="item startups">Startups</div>
    <div class="item fashion">Fashion</div>
    <div class="item gaming">Gaming</div>
  </div>
</div>

<div class="article-list" infinite-scroll="loadMoreTiles()">
  <ul class="scrollable">
    <li ng-repeat="tile in activeTiles">
      <a ng-href="{{tile.canonical_url}}" class="item-box" back-img="{{tile.visual_url}}">
        <div class="item-box-title">
          <span>
            <div class="title-text">{{tile.title}}</div>
            <div class="source-text">{{tile.site_url}}</div>
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>

  <div id="bottom-bar">
    <div class="box-left">
      <span class="bb">FILTER:</span>
      <span class="bb active">24 HOURS</span>
      <span class="bb">7 DAYS</span>
      <span class="bb">14 DAYS</span>
    </div>
    <div class="box-middle">
      <a href = "javascript:void(0)" onclick = "document.getElementById('my-settings').style.display='block';document.getElementById('fade').style.display='block'"><i class="fa fa-cog"></i></a>
    </div>
    <div class="box-right">
      <span class="bb">SORT BY:</span>
      <span class="bb active">TIME PUBLISHED</span>
      <span class="bb">NEWS RANK</span>
    </div>
  </div>

  <div id="my-feeds" class="popup">
    <h1>My Feeds</h1>  
    <a href = "javascript:void(0)" onclick = "document.getElementById('my-feeds').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
  </div>

  <div id="my-settings" class="popup my-settings">  
    <h1>My Settings</h1>
    <a href = "javascript:void(0)" onclick = "document.getElementById('my-settings').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
  </div>

  <div id="fade" class="black_overlay"></div>