<div class="sidebar">
    <div id="logo">NewsRank</div>
    <div class="menu-wrap">
      <div class="search-wrapper">
        <div class="search" onclick = "$('#fade').fadeIn('slow', function() { $('#fade').css('display','block')});$('#search-feeds').fadeIn('fast', function() { $('#search-feeds').css('display','block')});"><i class="fa fa-search"></i>Search</div>
      </div>
      <div class="sidebar-header">MENU</div>
      <a href = "javascript:void(0)" onclick = "$('#fade').fadeIn('slow', function() { $('#fade').css('display','block')});$('#my-feeds').fadeIn('fast', function() { $('#my-feeds').css('display','block')});" class="menu-item">
        <div class="menu-icon"><i class="fa fa-camera"></i></div>
        <div class="menu-text">Manage Feeds</div>
      </a>
      <a href="#" class="menu-item">
        <div class="menu-icon"><i class="fa fa-camera"></i></div>
        <div class="menu-text">Welcome (temp)</div>
      </a>
      <a href="javascript:void(0)" onclick = "$('#fade').fadeIn('slow', function() { $('#fade').css('display','block')});$('#add-feeds').fadeIn('fast', function() { $('#add-feeds').css('display','block')});" class="menu-item">
        <div class="menu-icon"><i class="fa fa-camera"></i></div>
        <div class="menu-text">Add Feeds (temp)</div>
      </a>
    <%= link_to(destroy_user_session_path, method: :delete, class: 'menu-item') do %>
      <div class="menu-icon"><i class="fa fa-camera"></i></div>
      <div class="menu-text">Sign Out</div>
    <% end %>
    </div>
    <div id="category">
      <div class="sidebar-header">RECOMMENDED</div>
      <div class="item technology">Technology</div>
      <div class="item business">Business</div>
      <div class="item design">Design</div>
      <div class="item startups">Startups</div>
      <div class="item fashion">Fashion</div>
      <div class="item gaming">Gaming</div>
    </div>
  </div>

<div class="article-list" infinite-scroll="loadMoreTiles()">
  <ul class="scrollable">
    <li ng-repeat="tile in activeTiles">
      <a ng-href="{{tile.canonical_url}}" class="item-box" back-img="{{tile.visual_url}}">
        <div class="item-box-title">
          <span>
            <div class="title-text">{{tile.title}}</div>
            <div class="source-text">{{tile.site_url}}</div>
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>

  <div id="bottom-bar">
    <div class="box-left">
      <span class="bb-label">FILTER:</span>
      <span class="bb active">24 HOURS</span>
      <span class="bb">7 DAYS</span>
      <span class="bb">14 DAYS</span>
    </div>
    <div class="box-middle">
      <a href = "javascript:void(0)" onclick = "document.getElementById('my-settings').style.display='block';document.getElementById('fade').style.display='block'"><i class="fa fa-cog"></i></a>
    </div>
    <div class="box-right">
      <span class="bb-label">SORT BY:</span>
      <span class="bb active" ng-click="sortTimePublished()">TIME PUBLISHED</span>
      <span class="bb" ng-click="sortNewsRank()">NEWS RANK</span>
    </div>
  </div>

  <div id="my-feeds" class="popup">
    <h2 class="popup-heading">Manage Feeds</h2>
    <div class="popup-content-wrapper">
      <table>
        <tr>
          <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
          <td>The Verge</td>
          <td>Your source for tech news and gadgets</td>
          <td>Gadgets, Technology, Startups</td>
        </tr>
        <tr>
          <td><a href="#">Uns</a></td>
          <td>Engadget</td>
          <td>Your source for tech news and gadgets</td>
          <td>Gadgets, Technology, Startups</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="my-settings" class="popup">
    <h2 class="popup-heading">My Settings</h2>
    <div class="popup-content-wrapper">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div id="add-feeds" class="popup">
    <h2 class="popup-heading">Add Feeds</h2>
    <div class="popup-content-wrapper">
      <div class="add-feed-options">
        <div class="option-box">
          <form ng-submit="addFeedFromUrl()">
            <h3>By Feed URL</h3>
            <input type="text" name="feed_URL" ng-model="newFeedUrl"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="option-box">
          <form>
            <h3>Upload OPML</h3>
            <input type="file"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="option-box">
          <h3>Search</h3>
          <a href="#">Link to Search feeds</a>
        </div>
      </div>
    </div>
  </div>

  <div id="search-feeds" class="popup">
    <h2 class="popup-heading">Search</h2>
    <div class="popup-content-wrapper">
      <div class="search-bar-wrapper">
        <i class="fa fa-search"></i>
        <form ng-submit="search()"><input id="search-bar" type="text" name="query" placeholder="Enter Your Search" ng-model="searchTerm"></form>
      </div>
      <form>
        <table>
          <tr ng-repeat="result in searchResults">
            <td><input type="checkbox" name="FeedIDSelected" value="{{result.feedId}}" ng-click="toggleResults(result.feedId)"></td>
            <td><span class="search-results-title"><a ng-href="{{result.url}}">{{result.title}}</a></span></td>
            <td><span class="search-results-subscribers">{{result.subscribers}}</span> Subscribers</td>
          </tr>
        </table>
        <button ng-click="addFromSearch()">Add Feed</button>
      </form>
      <div class="suggestions">
        <h2>You may also like</h2>
        <div class="search-results-similar"><a href="#">First</a></div>
        <div class="search-results-similar"><a href="#">Second</a></div>
        <div class="search-results-similar"><a href="#">Third</a></div>
      </div>
    </div>
  </div>

  <div id="fade" class="black_overlay" onclick="$('#fade').fadeOut('slow', function() { $('#fade').css('display','none')});$('.popup').fadeOut('slow', function() { $('.popup').css('display','none')})"></div>