<div ng-init="getArticles()">
<div class="sidebar">
    <div id="logo">NewsRank</div>
    <div class="menu-wrap">
      <div class="search-wrapper">
        <div class="search"><i class="fa fa-search"></i>Search or Add Feeds</div>
      </div>
      <div class="sidebar-header">MENU</div>
       <div id="link-manage-feeds" class="menu-item">
        <div class="menu-icon"><i class="fa fa-pencil-square-o"></i></div>
        <div class="menu-text" ng-click="updateUserFeeds()">Manage Feeds</div>
      </div>
      <%= link_to(destroy_user_session_path, method: :delete, class: 'menu-item') do %>
        <div class="menu-icon"><i class="fa fa-camera"></i></div>
        <div class="menu-text">Sign Out</div>
      <% end %>
    </div>
  </div>
<div class="article-list" infinite-scroll="loadMoreTiles()">
  <ul class="scrollable">
    <my-tiles></my-tiles>
  </ul>
</div>
    <div id="bottom-bar">
    <div class="box-right">
      <span class="bb-label">SORT BY:</span>
      <span class="bb" ng-class="{active: timePublishedButtonActive}" ng-click="sortTimePublished()">TIME PUBLISHED</span>
      <span class="bb" ng-class="{active: newsRankButtonActive}" ng-click="sortNewsRank()">NEWS RANK</span>
    </div>
  </div>
  <div id="my-feeds" class="popup">
    <h2 class="popup-heading">Manage Feeds</h2>
    <div class="popup-content-wrapper">
      <table>
        <tr ng-repeat="feed in userFeeds">
          <td><i class="fa fa-trash-o" ng-click="deleteFeed(feed.id)"></i></td>
          <td>{{feed.name}}</td>
          <td>{{feed.description}}</td>
          <td>{{feed.topics}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="add-feeds" class="popup">
    <h2 class="popup-heading">Add Feeds</h2>
    <div class="popup-content-wrapper">
      <div class="add-feed-options">
        <div class="option-box">
          <form ng-submit="addFeedFromUrl()">
            <h3>By Feed URL</h3>
            <input type="text" name="feed_URL" ng-model="newFeedUrl"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="option-box">
          <form>
            <h3>Upload OPML</h3>
            <input type="file"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="option-box">
          <h3>Search</h3>
          <a href="#">Link to Search feeds</a>
        </div>
      </div>
    </div>
  </div>
  <div id="search-feeds" class="popup">
    <h2 class="popup-heading">Search</h2>
    <div class="popup-content-wrapper">
      <div class="search-bar-wrapper">
        <i class="fa fa-search"></i>
        <form ng-submit="search()">
          <input id="search-bar" type="text" name="query" placeholder="Enter Your Search" ng-model="searchTerm">
        </form>
      </div>
      <form>
        <table class="feed-wrapper">
          <tr ng-repeat="result in searchResults" ng-click="toggleResults(result)" ng-class="{ selected: result.selected }">
            <td><img src="http://pbs.twimg.com/profile_images/425948730/DF-Star-Logo_bigger.png"></td>
            <td><span class="search-results-title">{{result.title}}</span></td>
            <td><span class="search-results-subscribers">{{result.subscribers}}</span> Subscribers</td>
          </tr>
        </table>
        <button class="button-subscribe" ng-class="{hidden: hideSubscribeButton}" ng-click="addFromSearch(); resetAll()">Subscribe</button>
      </form>
    </div>
  </div>
  <div id="fade" class="black_overlay"></div>
</div>