body {
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-image: url('http://subtlepatterns.com/patterns/worn_dots.png');
  font-size: 14px;
  color: #797979;
}

a {
  color: #b6b6b6;
  text-decoration: none;
}

.pull-right {
  float: right!important;
}

.sidebar {
  width: 230px;
  height: 100%;
  position: fixed;
  background-color: #2A2D33;
  color: #fff;
  font-size: 12px;
}

.search-wrapper {
  background-color: #191B1F;
  padding: 5px 0px;
  font-size: 16px;
  cursor: pointer;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  border-radius: 3px;
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
  color: #fff;
}

.search i{
  margin-right: 15px;
}

.scrollable {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  margin: 0px;
  padding-top: 13px;
  padding-left: 0px;
  font-size: 0px;
}

.scrollable li {
  display: inline-block;
  margin-left: 13px;
  margin-bottom: 13px;
}

.scrollable a {
  text-decoration: none;
}

.scrollable a:hover {
  color: #41cac0;
}

.article-list {
  left: 230px;
  width: auto;
  height: 100%;
  position: fixed;
  overflow: hidden;
  right: 0;
  color: #000;
  min-width: 1000px;
}

.item-box {
  display: inline-block;
  font-family: "Roboto Slab";
  background-color: #fff;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  width: 320px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #999;
  color: #fff;
}

.item-box-title {
  display: table;
  position: absolute;
  width: 320px;
  background-color: rgba(0,0,0,0.7);
}

.item-box-title:hover {
  background-color: rgba(0,0,0,1);
}

.item-box-title span {
  display: table-cell;
  vertical-align: top;
  padding: 15px 20px;
  line-height: 22px;
}

.item-box-title span .source-text{
  font-size: 12px;
  font-weight: normal;
}

.item p {
  margin: 0px;
}

#logo {
  font-family: 'Roboto Slab';
  display: block;
  width: 100%;
  height: 80px;
  background-color: #41cac0;
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 74px;
}

.menu-wrap {
  padding-bottom: 20px;
}

.menu-wrap .sidebar-header,
.menu-wrap .menu-item {
  padding-left: 20px;
  padding-right: 20px;
}
.menu-wrap .sidebar-header{
  margin-top: 20px;
}

.sidebar-header {
  color: #7F8083;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #414449;
}

.menu-icon,
.menu-text {
  display: inline-block;
}

.menu-text {
  padding-left: 15px;
}

.menu-item {
  color: #AAA;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  color: #AAA;
  font-size: 16px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #656C7E;
  color: #fff;
}

#category .sidebar-header {
  padding-left: 20px;
}

#category .item {
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 2px #000;
  display: block;
  width: auto;
  height: 16px;
  color: #fff;
  font-size: 16px;
  text-align: right;
  line-height: 16px;
  padding: 20px;
  margin-bottom: 1px;
  background-color: #111;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

}

#category .technology {
  background-image: url('http://www.blogcdn.com/www.engadget.com/media/2013/05/google-glass-box-340.jpg');
}

#category .business {
  background-image: url('http://www.datalabs.com.au/wp-content/uploads/2013/07/finance-dashboards-data-visualization-image.jpg');
}

#category .design {
  background-image: url('http://colourlovers.com.s3.amazonaws.com/blog/wp-content/uploads/2008/04/crowded_crayon_colors.jpg');
}

#category .startups {
  background-image: url('http://smallbiztrends.com/wp-content/uploads/2013/10/why-startups-fail-557x389.jpg');
}

#category .fashion {
  background-image: url('http://www.ellecanada.com/img/photos/biz/resized_images/elleca/00018/608x304_photo18254.jpg');
}

#category .gaming {
  background-image: url('http://rack.3.mshcdn.com/media/ZgkyMDEyLzEyLzA0L2E3L3N1cGVybWFyaW9iLmJlei5qcGcKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/5f80b587/b3b/-super-mario-bros-celebrates-its-25th-anniversary-a905d82ecb.jpg');
}

#bottom-bar {
  display: table;
  position: fixed;
  bottom: 0;
  min-width: 1000px;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, .80);
  padding: 20px 20px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  -webkit-box-sizing: border-box;
}

.bb,
.bb-label{
  display: inline-block;
  padding: 12px;
  margin: 0px 5px;
}

.bb:hover {
  background-color: #656C7E;
  border-radius: 20px;
}

#bottom-bar .active {
  background-color: #41cac0;
  border-radius: 20px;
}

#bottom-bar .box-left {
  display: table-cell;
  width: 42%;
}

#bottom-bar .box-middle {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  width: 16%;
}

#bottom-bar .box-middle i {
  background-color: #41cac0;
  width: 25px;
  padding: 8px;
  margin: 0px 5px;
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
}

#bottom-bar .box-middle i {
  background-color: #656C7E;
  width: 25px;
  padding: 8px;
  margin: 0px 5px;
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
}

#bottom-bar .box-middle i:hover {
  background-color: #41cac0;
}

#bottom-bar .box-right {
  display: table-cell;
  width: 42%;
  text-align: right;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 200%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.5;
  opacity:.50;
  filter: alpha(opacity=50);
}

.popup {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  min-width: 600px;
  width: 50%;
/*  height: 500px;
  min-height: 70%;*/
  /*border: 1px solid #666;*/
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 40px #444;
  -webkit-box-sizing: border-box;
  z-index:1002;
  overflow: auto;
}

.popup-header {
  display: table;
  width: 100%;
  height: 50px;
  /*margin: 26px 0px;*/
}

.popup-header-left {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.popup-header-left h1 {
  margin: 0 0 0 30px;
}

.popup-header-right {
  display: table-cell;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.my-settings {
  top: 10%;
  bottom: 12%;
}

#my-feeds table {
  width: 94%;
  margin-left: 25px;
  margin-right: 25px;
  -webkit-box-sizing: border-box;
}

#my-feeds table tr{
  height: 50px;
  /*background-color: red;*/
}

.popup-header-right .button {
  background-color: #E6614F;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 12px 20px;
  margin-right: 30px;
}

.add-feed-options {
  display: table;
  width: 100%;
}

.option-box {
  display: table-cell;
  text-align: center;
  width: 30%;
  margin: 5px;
}

/* Search Page CSS */

.search-bar-wrapper {
  display: block;
  height: 60px;
  background-color: #eee;
  border-radius: 30px;
  margin-bottom: 20px;
  vertical-align: middle;
  line-height: 60px;
  padding-left: 25px;
  font-size: 24px;
}

.search-bar-wrapper i {
  padding-right: 15px;
}

.search-bar-wrapper form {
  display: inline-block;
  width: 90%;
}

.search-bar-wrapper input {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 300;
  width: 92%;
}

.search-bar-wrapper input:focus {
  outline: none;
}

.feed-wrapper {
  width: 95%;
  margin-left: 20px;
  border-spacing: 0px;
}

.feed-wrapper a {
  color: #666;
}

.feed-wrapper tr {
  border-radius: 30px;
  margin: 5px;
  padding: 0px 20px;
  display: block;
}

.feed-wrapper tr:hover {
  background-color: #eee;
}

.feed-wrapper .selected {
  background-color: rgba(65, 202, 192, 0.5);
}

.feed-wrapper td {
  padding: 5px;
  vertical-align: middle;
}

.feed-wrapper td:first-child {
  width: 40px;
}

.feed-wrapper td:nth-child(2) {
  width: 400px;
}

.feed-wrapper td:nth-child(3) {
  width: 150px;
  text-align: right;
}

.feed-wrapper td:nth-child(4) {
  width: 150px;
  text-align: right;
}

/*.feed-wrapper td:last-child {
  width: 50px;
  text-align: right;
}*/

.feed-wrapper img {
  width: 40px;
}

.search-results-title {
  font-size: 18px;
  color: #666;
}

.suggestions {
  text-align: center;
  display: none;
}

.search-results-similar {
  color: white;
  display: inline-block;
  background-color: red;
  padding: 10px 15px;
  margin: 0px 5px;
  background-color: #656C7E;
  border-radius: 20px;
}

.search-results-similar a {
  color: white;
}

.search-results-similar:hover {
  background-color: #41cac0;
}

/* LOGIN PAGES */

.login-wrapper {
  max-width: 330px;
  margin: 100px auto 0;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 40px #aaa;
}

.popup-heading,
.login-heading {
  margin: 0;
  padding: 20px 15px;
  text-align: center;
  background: #41cac0;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.form-login-wrapper,
.popup-content-wrapper {
  padding: 20px;
}

input[type="email"],
input[type="password"] {
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: none;
  font-size: 12px;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
  width: 100%;
}
.button-sign-in:focus,
.button-subscribe:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

.button-subscribe,
.button-sign-in {
  background: #f67a6e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding: 10px 16px;
  font-family: "Lato";
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
}

.button-subscribe {
  display: none;
}

.button-sign-in,
.button-subscribe {
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.remember-me {
  margin-bottom: 14px;
  color: #b6b6b6;
  font-weight: 300;
  font-size: 14px;
}

/* Reader Mode */
.full-article-html {
  font-size: 20px;
  line-height: 40px;
  font-family: serif;
}

.popup-article-wrapper {
  padding: 60px;
}

#full-article {
  height: auto;
}

/* Loader */
#loader {
  display: none;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 46%;
  border-radius: 70px;
  background-color: white;
  box-shadow: 0px 0px 40px #444;
  -webkit-box-sizing: border-box;
  z-index:1002;
  overflow: auto;
}